<script setup lang="ts">

</script>

component
<template class="min-h-screen">
  <LayoutHeader />
  <div class="contained typereset">
    <NuxtPage />
  </div>
  <LazyLayoutFooter />
</template>

<style>
@import '@unocss/reset/tailwind-compat.css';
</style>
