<script setup lang="ts">
import { IconHeart } from '@tabler/icons-vue';
</script>


<template>
    <footer class="w-full bg-light typereset mt-16">
        <div class="contained flex justify-between items-center">
            <p>Made with <span class="line-through decoration-red-500">rage</span> love
                <IconHeart aria-label="Heart" class="icon fill-red-500" />
            </p>
        </div>
    </footer>
</template>
