<script setup lang="ts">
import { IconCameraPlus, IconUserCircle, IconLogin } from '@tabler/icons-vue';

const auth = false;
</script>


<template>
    <header class="w-full border-b border-neutral-300 bg-light typereset">
        <div class="contained flex justify-between items-center font-medium">
            <div class="flex items-center">
                <NuxtLink to="/" class="logo apad hover:bg-dark hover:text-light">
                    Photo app
                </NuxtLink>
            </div>

            <span class="items-center gap-4 hidden md:flex">
                <NuxtLink to="/discover" class="emlink">Discover</NuxtLink>
                <NuxtLink to="/discover/categories" class="emlink">Categories</NuxtLink>
                <NuxtLink to="/discover/featured" class="emlink">Featured</NuxtLink>
            </span>

            <span class="flex items-center gap-4">
                <NuxtLink to="/upload" class="emlink">
                    <IconCameraPlus aria-label="Upload photo(s)" class="icon mr-1" />Upload
                </NuxtLink>

                <!-- Show login or profile link depending if authenticated -->
                <NuxtLink to="/user/profile" v-if="auth" class="emlink">
                    <IconUserCircle aria-label="Profile" class="icon mr-1" />Profile
                </NuxtLink>
                <NuxtLink to="/user/login" v-else="auth" class="emlink">
                    <IconLogin aria-label="Login" class="icon mr-1" />Login
                </NuxtLink>
            </span>
        </div>
    </header>
</template>
