<script setup lang="ts">
import { IconX } from "@tabler/icons-vue";
import { ref } from "vue";
const queue = ref<File[]>([])

function queueFile(event) {
    const files = event.target.files;
    if (!files) return;

    Array.from(files).forEach(file => {
        // Check if file already exists in queue
        if (findInQueue(file as File) > -1) return;

        queue.value.push(file as File);
    });
}

function findInQueue(file: File) {
    return queue.value.findIndex((item) => (
        item.name === file.name && item.size === file.size && item.type === file.type
    ));
}

function removeFromQueue(file: File) {
    const element = findInQueue(file);

    // -1 is the error response - don't splice if it nothing found
    if (element > -1) {
        return element
    } else {
        return
    }
}
</script>

<script lang="ts">
function processQueue() {
}
</script>

<template>
    <label for="file"
        class="w-full flex flex-col items-center lg:flex-row justify-between text-center bg-light cursor-pointer p-16">
        <span class="flex-1">Drop file to upload</span>
        <span class="w-40 border-b m-16 lg:w-auto lg:border-b-0 lg:border-l lg:h-40 border-neutral-300"></span>
        <span class="flex-1">
            <input type="file" id="file" ref="file" @change="queueFile" multiple
                class="mx-auto w-min-content text-center pt-5" />
        </span>
    </label>

    <ul v-if="queue.length" class="w-full flex flex-col gap-[1px] bg-neutral-300">
        <li v-for="item in queue" class="p-4 flex justify-between bg-light">
            <div>
                {{ item.name }}
            </div>
            <div class="flex flex-col lg:flex-row items-end gap-4">
                <span>
                    {{ item.type }}
                </span>

                <div>
                    <span v-if="item.size < 1024">
                        {{ (item.size).toFixed(0) }} B
                    </span>
                    <span v-else-if="item.size < 1048576">
                        {{ (item.size / 1024).toFixed(2) }} KiB
                    </span>
                    <span v-else>
                        {{ (item.size / 1024 / 1024).toFixed(2) }} MiB
                    </span>

                    <button type="button" @click="removeFromQueue(item)" class="w-6 h-6 p-0 btn ml-2">
                        <IconX aria-label="Remove file" class="icon w-5 h-5" />
                    </button>
                </div>

            </div>
        </li>
    </ul>
</template>

<style>
input[type="file"]:last-of-type {
    visibility: hidden;
}

input[type="file"]::file-selector-button {
    display: block;
    visibility: visible;
    margin: 0 auto;
    --at-apply: "btn";
}
</style>
