<script lang="ts">
export default {
    props: {
        title: {
            type: String,
            required: true,
        },
        subtitle: {
            type: String,
            required: false,
        },
    },
}
</script>

<template>
    <div class="flex justify-between items-center my-16">
        <div class="mx-8">
            <h1 class="title">{{ title }}</h1>
            <h2 class="subtitle" v-if="subtitle">{{ subtitle }}</h2>
        </div>

        <slot></slot>
    </div>
</template>
