<script setup lang="ts">
import { IconUserPlus, IconHelpCircle } from '@tabler/icons-vue';
</script>

<template>
    <PageHead title="Log in">
        <nav>
            <NuxtLink to="/user/signup" class="emlink">
                <IconUserPlus aria-label="Sign up" class="icon mr-1" />Sign up
            </NuxtLink>
            <NuxtLink to="/user/forgot" class="emlink">
                <IconHelpCircle aria-label="Forgot password" class="icon mr-1" />Forgot password
            </NuxtLink>
        </nav>
    </PageHead>
    dfgf
</template>
