<script setup lang="ts">
import { IconUserCog, IconSettings } from '@tabler/icons-vue';
</script>

<template>
    <PageHead title="Profile">
        <nav>
            <NuxtLink to="/user/edit" class="emlink">
                <IconUserCog aria-label="Edit profile" class="icon mr-1" />Edit profile
            </NuxtLink>
            <NuxtLink to="/user/preferences" class="emlink">
                <IconSettings aria-label="Preferences" class="icon mr-1" />Preferences
            </NuxtLink>

        </nav>
    </PageHead>
    dfgf
</template>
