<script setup lang="ts">
import { IconLogin, IconHelpCircle } from '@tabler/icons-vue';
</script>

<template>
    <PageHead title="Sign up">
        <nav>
            <NuxtLink to="/user/login" class="emlink">
                <IconLogin aria-label="Login" class="icon mr-1" />Login
            </NuxtLink>
            <NuxtLink to="/user/forgot" class="emlink">
                <IconHelpCircle aria-label="Forgot password" class="icon mr-1" />Forgot password
            </NuxtLink>
        </nav>
    </PageHead>
    <main class="w-full flex flex-col lg:flex-row items-center justify-around">
        <div>
            <h3 class="subtitle">Email</h3>

            <form action="" method="post" class="flex flex-col gap-4">
                <input type="email" name="email" id="email" class="input">
                <span class="text-right">
                    <button type="submit" class="btn">Let's go!</button>
                </span>
            </form>
        </div>
        <span class="w-80 border-b m-16 lg:w-auto lg:border-b-0 lg:border-l lg:h-80 border-neutral-300 block"></span>
        <div>
            <h3 class="subtitle">External service</h3>
        </div>
    </main>
</template>
