<template>
    <PageHead title="Upload" subtitle="This is a subtitle" />
    <form class="flex flex-col gap-4">
        <FormFile />
        <span class="text-right">
            <button type="submit" class="btn">Upload</button>
        </span>
    </form>
</template>
